<div class="footerContainer">
    <div class="rentalscontainer columnContainers">
        <h2>RENTALS</h2>
        <p>We create possiblities</p>
        <p>for the connected world</p>
        <p class="bold"><strong>be bold.</strong></p>
        <p class="copyright">©2021 Rentals. All Rights Reserved</p>
    </div>

    <div class="followContainer columnContainers">
        <h3>Follow</h3>
        <p>Facebook</p>
        <p>Twitter</p>
        <p>Instagram</p>
        <p>LinkedIn</p>
    </div>
    <div class="exploreContainer columnContainers">
        <h3>Explore</h3>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <p>Careers</p>
    </div>
    <div class="visitContainer columnContainers" >
        <h3>Visit</h3>
        <p>Sunset BLVD. Israel</p>
        <p>266 La Guardia St.</p>
        <p>Centr. IL 5598309</p>
    </div>
    <div class="businessContainer columnContainers">
        <h3>Business</h3>
        <p>contact@workers.com</p>
        <p>923 555 3102</p>
    </div>
    <div>
</div>
</div>

