<div class="navContainer">
    <nav class="navbar">
        <ul>
            <li><a href="http://localhost:5000/register">Test</a></li>
            <li><a href="http://localhost:5000/register">About</a></li>
            <li><a href="http://localhost:5000/register">Contact</a></li>
        </ul>
    </nav>
</div>