<div class="navContainer">
    <nav class="navbar">
        <div class="navbarLeft">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/">Contact</a></li>
                <li><a href="/">FAQ</a></li>
            </ul>
        </div>
        <div class="navbarRight">
            <% if (customer) { %>
                <a><%= customer.name %></a>
                <% if (customer.admin) { %>
                    <a href="/office">Office</a>
                    <% } %>
                <a href="/profile">Profile</a>
                <a href="/logout">Log Out</a>
            <% } else { %>
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            <% } %>
        </div>
    </nav>
</div>