<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<link rel="stylesheet" href="styles/about.css">
<body>
    <%- include('./partials/navbar.ejs') %>
    <div class="imageContainer"></div>
    <div class="imageFlavourText">
        <img src="../views/images/rulerandpencil.png" alt="">
        <h3>About Us</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, inventore.</p>
        <p>Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="gallery">
        <div class="galleryCard">
            <img src="../views/images/maleface.png" alt="">
            <h4>Name Placeholder</h4>
            <p>Title Placeholder</p>
        </div>
        <div class="galleryCard">
            <img src="../views/images/maleface.png" alt="">
            <h4>Name Placeholder</h4>
            <p>Title Placeholder</p>
        </div>
        <div class="galleryCard">
            <img src="../views/images/maleface.png" alt="">
            <h4>Name Placeholder</h4>
            <p>Title Placeholder</p>
        </div>
        <div class="galleryCard">
            <img src="../views/images/maleface.png" alt="">
            <h4>Name Placeholder</h4>
            <p>Title Placeholder</p>
        </div>
        <div class="galleryCard">
            <img src="../views/images/maleface.png" alt="">
            <h4>Name Placeholder</h4>
            <p>Title Placeholder</p>
        </div>
        <div class="galleryCard">
            <img src="../views/images/maleface.png" alt="">
            <h4>Name Placeholder</h4>
            <p>Title Placeholder</p>
        </div>
    </div>
    <div class="descriptionTitle">
        <h3>Know Our Merits</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, numquam iure. Libero ducimus atque ab.</p>
    </div>
    <div class="descriptionContainer">
        <div class="descriptionCard">
            <h1>01</h1>
            <h2>Honesty</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto sit modi, obcaecati quo omnis aliquid ducimus totam, ea dignissimos et numquam architecto. Atque quisquam voluptates fugit illum quia sapiente cumque, accusantium deserunt sunt tempore quos nostrum autem eligendi quod dolorem, necessitatibus itaque repellat possimus ea illo temporibus pariatur hic quam?</p>
        </div>
        <div class="descriptionCard">
            <h1>02</h1>
            <h2>Creativity</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto sit modi, obcaecati quo omnis aliquid ducimus totam, ea dignissimos et numquam architecto. Atque quisquam voluptates fugit illum quia sapiente cumque, accusantium deserunt sunt tempore quos nostrum autem eligendi quod dolorem, necessitatibus itaque repellat possimus ea illo temporibus pariatur hic quam?</p>
        </div>
        <div class="descriptionCard">
            <h1>03</h1>
            <h2>Teamwork</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto sit modi, obcaecati quo omnis aliquid ducimus totam, ea dignissimos et numquam architecto. Atque quisquam voluptates fugit illum quia sapiente cumque, accusantium deserunt sunt tempore quos nostrum autem eligendi quod dolorem, necessitatibus itaque repellat possimus ea illo temporibus pariatur hic quam?</p>
        </div>
        <div class="descriptionCard">
            <h1>04</h1>
            <h2>Innovation</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto sit modi, obcaecati quo omnis aliquid ducimus totam, ea dignissimos et numquam architecto. Atque quisquam voluptates fugit illum quia sapiente cumque, accusantium deserunt sunt tempore quos nostrum autem eligendi quod dolorem, necessitatibus itaque repellat possimus ea illo temporibus pariatur hic quam?</p>
        </div>
        <div class="descriptionCard">
            <h1>05</h1>
            <h2>Reliability</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto sit modi, obcaecati quo omnis aliquid ducimus totam, ea dignissimos et numquam architecto. Atque quisquam voluptates fugit illum quia sapiente cumque, accusantium deserunt sunt tempore quos nostrum autem eligendi quod dolorem, necessitatibus itaque repellat possimus ea illo temporibus pariatur hic quam?</p>
        </div>
        <div class="descriptionCard">
            <h1>06</h1>
            <h2>Communication</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto sit modi, obcaecati quo omnis aliquid ducimus totam, ea dignissimos et numquam architecto. Atque quisquam voluptates fugit illum quia sapiente cumque, accusantium deserunt sunt tempore quos nostrum autem eligendi quod dolorem, necessitatibus itaque repellat possimus ea illo temporibus pariatur hic quam?</p>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>