<!DOCTYPE html>
<html lang="en">
    <%- include('./components/head.ejs') %>
<link rel="stylesheet" href="styles/contact.css">
<body>
    <%- include('./components/navbar.ejs') %>
    <div class="mainContainer">
        <div class="contactDetailsContainer">
            <h2>Contact Information</h2>
            <p>Fill up the form and our Team will get back to you with 24 hours.</p>
            <p> +0123 4567 890</p>
            <p> email@example.com</p>
            <p>Sunset BLVD. Israel

                266 La Guardia St.
                
                Centr. IL 5598309</p>
        </div>
        <div class="contactFormContainer">
            <form id="contactform">
                <h2>Contact Us</h2>
                <div class="inputRowContainer">
                    <div class="labelPlusInputContainer">
                        <label for="">First Name</label>
                        <input type="text" placeholder="Enter your first name">
                    </div>
                    <div class="labelPlusInputContainer">
                        <label for="">Last Name</label>
                        <input type="text" placeholder="Enter your last name">
                    </div>
                </div>
                <div class="inputRowContainer">
                    <div class="labelPlusInputContainer">
                        <label for="">Email</label>
                        <input type="email" placeholder="Enter your email address">
                    </div>
                    <div class="labelPlusInputContainer">
                        <label for="">Phone Number</label>
                        <input type="text" placeholder="Enter your phone number">
                    </div>
                </div>
                <div class="labelPlusInputContainer">
                    <label for=""></label>
                    <textarea name="comment" form="contactform" placeholder="Write a message..."></textarea>
                </div>
                <input type="submit" class="submitBtn">
            </form>
        </div>
    </div>
    <%- include('./components/footer.ejs') %>
</body>
</html>