<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="styles/index.css">

    <body>
        <div class="headerContainer">
            <header>
                <%- include('./partials/navbar.ejs') %>
            </header>
        </div>

        <div class="mainContainer">
            <p>Rentals - Israel's leading car rental agency</p>
            <p>Start your journey today</p>
            <a href="/register">Register</a>
        </div>
        <div class="carPictureContainer"></div>
        <div class="searchAndResultsContainer">
        <div class="searchFormContainer">
            <form class="searchForm">
                <div class="searchInputsContainer">
                    <div class="labelPlusInputContainer">
                        <label for="">Manufacturer</label>
                        <input type="text" name="" id="manufacturerInput">
                    </div>
                    <div class="labelPlusInputContainer">
                        <label for="">Model</label>
                        <input type="text" name="" id="modelInput">
                    </div>
                    <div class="labelPlusInputContainer">
                        <label for="">Year</label>
                        <input type="text" name="" id="yearInput">
                    </div>
                    <div class="labelPlusInputContainer">
                        <label for="from">From:</label>
                        <input type="date" name="from" id="fromInput" required>
                    </div>
                    <div class="labelPlusInputContainer">
                        <label for="to">To:</label>
                        <input type="date" name="to" id="toInput" required>
                    </div>
                    <button class="submitBtn" type="submit">Search</button>
                    <div class="errorContainer"></div>
                </div>
            </form>
            <div class="availableInputsContainer">
                <input type="checkbox" name="showUnavailable" id="showUnavailable" class="showUnavailable" onclick="showUnavailable()">
                <label for="showUnavailable">Show Unavailable Cars</label>
            </div>
        </div>
        <div id="resultsContainer"></div>
    </div>
        <%- include('./partials/footer.ejs') %>
            <script src="index.js"></script>
    </body>

</html>