<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>  Rentals | <%= title %></title>
        <link rel="stylesheet" href="index.css">
    </head>
<body>
    <div class="headerContainer">
        <header>
            <div class="navContainer">
                <nav class="navbar">
                    <ul>
                        <li><a href="/register">Test</a></li>
                        <li><a href="/register">About</a></li>
                        <li><a href="/register">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <p>Rentals - Israel's leading car rental agency</p>
        </header>
    </div>
    
    <div class="mainContainer">
        <p>Start your journey today</p>
        <a href="/register">Register</a>
    </div>
    <div id="searchContainer">
        Find your car:
        <form id="searchForm">
            <div>
                <label for="">Manufacturer</label>
                <input type="text" name="" id="manufacturerInput">
            </div>
            <div>
                <label for="">Model</label>
                <input type="text" name="" id="modelInput">
            </div>
            <div>
                <label for="">Year</label>
                <input type="text" name="" id="yearInput">
            </div>
            <button type="submit">Search</button>
        </form>
    </div>
    <script src="index.js"></script>
</body>
</html>