<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="styles/index.css">
<body>
    <div class="headerContainer">
        <header>
            <%- include('./partials/navbar.ejs') %>
        </header>
    </div>
    
    <div class="mainContainer">
        <p>Rentals - Israel's leading car rental agency</p>
        <p>Start your journey today</p>
        <a href="/register">Register</a>
    </div>
    <div class="carPictureContainer"></div>
    <div class="searchContainer">
        <form id="searchForm">
            <p>Find your car:</p>
            <span class="textInputsContainer">
                <div class="labelPlusInputContainer">
                    <label for="">Manufacturer</label>
                    <input type="text" name="" id="manufacturerInput">
                </div>
                <div class="labelPlusInputContainer">
                    <label for="">Model</label>
                    <input type="text" name="" id="modelInput">
                </div>
                <div class="labelPlusInputContainer">
                    <label for="">Year</label>
                    <input type="text" name="" id="yearInput">
                </div>
            </span>
            <span class="dateInputsContainer">
                <div>
                    <label for="from">From:</label>
                    <input type="date" name="from" id="fromInput" required>
                </div>
                <div>
                    <label for="to">To:</label>
                    <input type="date" name="to" id="toInput" required>
                </div>
            </span>
            <div class="errorContainer"></div>
            <button type="submit">Search</button>
        </form>
        <div class="availableInputsContainer">
            <input type="radio" name="showUnavailable" value="show" onclick="showUnavailable()">
            <label for="showUnavailable">Show Unavailable Cars</label>

            <input type="radio" name="showUnavailable" value="hide" onclick="hideUnavailable()">
            <label for="showUnavailable">Hide Unavailable Cars</label>
        </div>
    </div>
    <div id="resultsContainer">
        
    </div>
    <%- include('./partials/footer.ejs') %>
    <script src="index.js"></script>
</body>
</html>