<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="styles/login.css">
<body>
    <header>
    <%- include('./partials/navbar.ejs') %>
    </header>

    <div class="formContainer">
        <form class="loginForm">
            <div class="labelPlusInputContainer">
                <label for="email">Email</label>
                <input type="text" name="email" id="emailInput">
            </div>
            <div class="labelPlusInputContainer">
                <label for="password">Password</label>
                <input type="password" name="password" id="passwordInput">
            </div>
            <div class="errorContainer"></div>
            <div class="submitContainer">
                <input type="submit" class="submitBtn">
            </div>
            <p>No account yet? <a href="/register">Register</a></p>
        </form>
    </div>
    <%- include('./partials/footer.ejs') %>
    <script src="login.js"></script>
</body>
</html>