<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="styles/register.css">
<body>
    <%- include('./partials/navbar.ejs') %>

    <div class="formContainer">
        <form class="addCustomerForm">
            <h2>Register</h2>
            <div class="labelPlusInputContainer">
                <label for="name">Full name</label>
                <input type="text" name="name" id="nameId" required>
            </div>
            <div class="labelPlusInputContainer">
                <label for="password">Password</label>
                <input type="password" name="password" id="passwordId" required>
            </div>
            <div class="labelPlusInputContainer">
                <label for="">Confirm password</label>
                <input type="password" id="confirmId" required>
            </div>
            <div class="labelPlusInputContainer">
                <label for="">Email address</label>
                <input type="email" name="email" id="emailId" required> 
            </div>
            <div class="labelPlusInputContainer">
                <label for="">Phone number</label>
                <input type="text" name="phone" id="phoneId" required>
            </div>
            <div class="labelPlusInputContainer">
                <label for="">Driver's license</label>
                <input type="text" name="dl" id="dlId" required>
            </div>
            <div class="labelPlusInputContainer">
                <label for="">Gender</label>
                <select name="" id="genderId">
                    <option value="male">male</option>
                    <option value="female">female</option>
                    <option value="other">other</option>
                </select>
            </div>
            <div class="addCustomerErrorContainer"></div>
            <div class="submitContainer">
                <button class="submitBtn" type="submit">Submit</button>
            </div>
            <p>Already have an account? <a href="/login">Login</a></p>
        </form>
    </div>
    <%- include('./partials/footer.ejs') %>

    <script src="/register.js"></script>
</body>
</html>