.header-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.imageContainer {
    background-image: url('../../views/images/blur-about-background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50%;
    width: 100%;
    height: 40rem;
}

.imageFlavourText {
    position: absolute;
    top: 50%;
    text-align: center;
    color: white;
}

.imageFlavourText img {
    width: 10%;
    height: 3rem;
}



.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 80%;
}

.galleryCard {
    width: 33%;
    padding: 4%;
    justify-content: center;
}

.galleryCard img {
    width: 50%;
}
.galleryCard h4 {
    margin-bottom: 5%;
}

.descriptionTitle {
    background-color: rgb(245, 245, 245);
    border-bottom: 1px gray solid;
    margin: auto;
    padding: 3%;
}
.descriptionTitle h3{
    margin-bottom: 1%;
}

.descriptionContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    background-color: rgb(245, 245, 245);
}

.descriptionCard {
    width: 33%;
    padding: 5%;
    text-align: justify;
}

.descriptionContainer h1 {
    color: gray;
    font-size: 70px;
    opacity: 0.3;
}

.footer {
    margin-top: 0;
}