.form-titles {
    text-align: center;
    padding: 2%;
}

.form-titles ion-icon{
    font-size: 60px;
    color: hsl(200, 100%, 50%);
}

.loginForm {
    background-color: hsl(200, 100%, 100%);
    margin: auto;
    margin-top: 10%;
    width: 20rem;
    height: 24rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
}
.form-inputs-container {
    padding-top: 10%;
}
.input-container {
    width: 80%;
    margin: auto;
    margin-bottom: 2%;
}
.input-container input {
    border: none;
    background-color: hsl(0, 0%, 85%);
    height: 3rem;
    width: 100%;
    padding: 5px;
}
.input-container input:focus {
    border: none;
    outline: none;
}

.input-container input::placeholder {
    color: white;
}

.submitContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.submitBtn {
    background-color: hsl(200, 100%, 50%);
    color: white;
    border-radius: 5%;
     width: 80%;
     font-size: 15px;
     padding: 2.5%;
     border: none;
     cursor: pointer;
}

.errorContainer {
    text-align: center;
    padding: 2%;
    font-size: 16px;
    color: hsl(200, 100%, 50%);
}

.form-footer {
    position: absolute;
    bottom: 0;
    font-size: 12px;
    background-color: hsl(0, 0%, 85%);
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-footer a {
    color: hsl(200, 100%, 50%);
    text-decoration: none;
}

.footerContainer {
    margin-top: 15%;
}

@media (max-width: 800px) {

    .loginForm {
        margin-top: 20%;
    }

    .footerContainer {
        margin-top: 30%;
    }
}