.navContainer {
    background-color: black;
} 
.navbar {
    display: flex;
    padding: 1% 2%;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.5s ease;
    z-index: 1;
} 

 .navbar ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbarRight a {
    padding: 8px 12px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
    }
}


