.statisticsSection {
    padding: 1%;
    padding-top: 5%;
}

.statsDiv {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.statisticsTitle {
    background-color: rgb(45, 45, 45);
    color: white;
    padding: 1%;
}
.statisticsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stat {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 1%;
    justify-content: center;    
    width: 20%;
    background-color: rgb(225, 225, 225);
    border-radius: 5%;
    padding: 1%;
}

/* =============================================================== */
.addTitle {
    margin-left: 3%;
}
.addFormsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.addCustomerFormContainer {
    width: 20rem;
    height: 30rem;
    margin-left: 3%;
}
.addCustomerForm {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: solid black 1px;
    border-radius: 5%;
    padding: 10px;
    height: 100%;
}
.addCustomerForm input{
    margin-bottom: 10px;
}

.addCarFormContainer {
    width: 20rem;
    height: 30rem;
    margin-left: 3%;
}
#addCarForm {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: solid black 1px;
    border-radius: 5%;
    padding: 10px;
    height: 100%;
}
.addAdminFormContainer {
    width: 20rem;
    height: 30rem;
    margin-left: 3%;
}
.addAdminForm {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: solid black 1px;
    border-radius: 5%;
    padding: 10px;
    height: 100%;
}

.addCustomerErrorContainer {
    color: magenta;
}

.addCarErrorContainer {
    color: magenta;
}

.submitBtn {
    background-color: rgb(248, 218, 98);
    color: rgb(65, 65, 138);
    border-radius: 15px;
    font-size: 15px;
    padding: 5px 10px;
    margin: 5px 0px 5px 0px;
    border: none;
    cursor: pointer;
}

.formTitle {
    padding: 2px;
}

.labelPlusInputContainer label{
    display: block;
}

.labelPlusInputContainer input {
    width: 100%;
}

.labelPlusInputContainer select {
    width: 100%;
}

/* ===================================================== */

.deleteContainer {
    background-color: rgb(231, 231, 231);
    padding: 20px;
    display: flex;
    align-items: center;
}


.deleteFormsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.deleteCarFormContainer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: solid black 1px;
    border-radius: 5%;
    padding: 10px;
    width: 20rem;
    height: 9rem;
}


.deleteCustomerFormContainer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: solid black 1px;
    border-radius: 5%;
    padding: 10px;
    width: 20rem;
    height: 9rem;
    margin-left: 10%;
}

.failure {
    color: #D8000C;
    background-color: #FFD2D2;
}

.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}


/* =============================================== */


.updateContainer {
    background-color: white;
    padding: 20px;
    display: flex;
    align-items: center;
}


.updateFormsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.updateCarFormContainer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: solid black 1px;
    border-radius: 5%;
    padding: 10px;
    width: 20rem;
    height: 30rem;
}


.updateCustomerFormContainer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: solid black 1px;
    border-radius: 5%;
    padding: 10px;
    width: 20rem;
    height: 30rem;
    margin-left: 10%;
}

.updateAdminFormContainer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: solid black 1px;
    border-radius: 5%;
    padding: 10px;
    width: 20rem;
    height: 9rem;
    margin-bottom: 31.5%;
    margin-left: 10%;
}
