.statisticsSection {
    display: flex;
    width: 100%;
}
.main-container {
    display: flex;
    width: 100%;
}

.statistics-and-forms-container {
    width: 100%;
    margin-top: 5%;

}
.side-menu-container {
    background-color: black;
    width: 27%;
    position: relative;
}

.side-menu {
    width: 95%;
    height: 95%;
    color: white;
    border: 1px solid white;
    margin-top: 7%;
    position: absolute;
    top: 2%;
    left: 2.5%;
}

.side-menu h2 {
    padding: 5%;
}

.options-container {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.options-container > :nth-child(even) {
    background-color: #222831;
}

.option {
    height: 3rem;
    position: relative;
    font-size: 16px;
    cursor: pointer;
}


.option ion-icon {
    position: absolute;
    right: 3%;
    top: 0;
}
.down-icon {
    display: none;
}
.suboptions {
    display: flex;
    flex-direction: column;
    border: none;
    overflow: hidden;
    max-height: 0;
    position: relative;
    transition: max-height 250ms;
    cursor: pointer;
}
.suboptions div {
    height: 2rem;
}

.suboptions div:hover {
    background-color: rgb(45, 45, 45);
}
.statsDiv {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 1%;
    width: 100%;
    height: 100%;
    margin-right: 2%;
}
.statisticsTitle {
    background-color: rgb(45, 45, 45);
    color: white;
    padding: 1%;
}
.statisticsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.stat {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 1%;
    justify-content: center;    
    width: 20%;
    background-color: rgb(225, 225, 225);
    border-radius: 5%;
    padding: 1%;
}

/* =============================================================== */

.addCustomerFormContainer {
    width: 20rem;
    height: 30rem;
}
.addCustomerForm {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: solid black 1px;
    border-radius: 5%;
    padding: 10px;
    width: 25%;
    display: none;
    position:absolute;
    top: 50%;
    left: 50%;
}
.addCustomerForm input{
    margin-bottom: 10px;
}

.addCarFormContainer {
    width: 20rem;
    height: 30rem;
}
.addCarForm {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: solid black 1px;
    border-radius: 5%;
    padding: 10px;
    width: 25%;
    display: none;
    position:absolute;
    top: 50%;
    left: 50%;
}
.addAdminFormContainer {
    width: 20rem;
    height: 30rem;
}
.addAdminForm {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: solid black 1px;
    border-radius: 5%;
    padding: 10px;
    width: 25%;
    display: none;
    position:absolute;
    top: 50%;
    left: 50%;
}

.addCustomerErrorContainer {
    color: magenta;
}

.addCarErrorContainer {
    color: magenta;
}

.submitBtn {
    background-color: rgb(248, 218, 98);
    color: rgb(65, 65, 138);
    border-radius: 15px;
    font-size: 15px;
    padding: 5px 10px;
    margin: 5px 0px 5px 0px;
    border: none;
    cursor: pointer;
}

.formTitle {
    padding: 2px;
}

.labelPlusInputContainer label{
    display: block;
}

.labelPlusInputContainer input {
    width: 100%;
}

.labelPlusInputContainer select {
    width: 100%;
}

/* ===================================================== */

.deleteCarFormContainer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: solid black 1px;
    border-radius: 5%;
    padding: 10px;
    width: 20rem;
    height: 9rem;
    display: none;
    position:absolute;
    top: 50%;
    left: 50%;
}


.deleteCustomerFormContainer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: solid black 1px;
    border-radius: 5%;
    padding: 10px;
    width: 20rem;
    height: 9rem;
    display: none;
    position:absolute;
    top: 50%;
    left: 50%;
}

.failure {
    color: #D8000C;
    background-color: #FFD2D2;
}

.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}


/* =============================================== */

.updateCarFormContainer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: solid black 1px;
    border-radius: 5%;
    padding: 10px;
    width: 20rem;
    height: 30rem;
    display: none;
    position:absolute;
    top: 50%;
    left: 50%;
}


.updateCustomerFormContainer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: solid black 1px;
    border-radius: 5%;
    padding: 10px;
    width: 20rem;
    height: 20rem;
    display: none;
    position:absolute;
    top: 50%;
    left: 50%;
}

.updateAdminFormContainer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: solid black 1px;
    border-radius: 5%;
    padding: 10px;
    width: 20rem;
    height: 9rem;
    display: none;
    position:absolute;
    top: 50%;
    left: 50%;
}

.footerContainer {
    margin: 0;
}
