body {
    background-color: rgb(235, 235, 235);
}


.personalInfoContainer {
    padding-top: 3%;
    display: flex;
}

.infoDetailsContainer {
    display: flex;
    flex-direction: column;
    height: 10rem;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 2%;
}

.infoPiecesContainer {
    display: flex;
}

.infoDetailsTitle {
    background-color: #003554;
    color: white;
    padding: 1%;
}

.photoContainer {
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 10rem;
    width: 25%;
    margin: 2%;
}
.photoContainer p {
    background-color: #003554;
    color: white;
    padding: 3%;
}

.infoPieceContainer {
    padding: 2%;
}

.infoPieceContainer p{
    font-size: 16px;
}

/* =========================================================== */

.mainContainer {
    height: 100%;
    display: flex;
    padding: 1%;
}

.sideMenuContainer {
    background-color: #003554;
    width: 20%;
    padding-bottom: 100%;
}

.ordersContainer {
    height: 100%;
    width: 100%;
    padding: 1%;
}

.myOrdersTitle {
    text-align: center;
    padding: 0.5% 0 0.5% 0;
    width: 98%;
    margin: auto;
    background-color: #003554;
    color: white;
    margin-bottom: 1%;
}
.order {
    background-color: white;
    margin-bottom: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2%;
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
}
.order p {
    padding: 1%;
}
.order img{
    height: 100%;
    width: 40%;
}


.cancelBtn {
    background-color: rgb(241, 77, 77);
    color: white;
    border: none;
    border-radius: 5%;
    padding: 1%;
    height: 50%;
    cursor: pointer;
}


.failure {
    color: #D8000C;
    background-color: #FFD2D2;
}

.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}

@media (max-width: 800px) {

    .personalInfoContainer {
        margin-top: 13%;
    }

    .infoDetailsContainer {
        width: 66%;
        height: 100%;
    }

    .infoPiecesContainer {
        flex-wrap: wrap;
    }

    .sideMenuContainer {
        display: none;
    }

    .order {
        flex-wrap: wrap;
    }
  
    .order img {
        display: none;
    }

    .cancelBtn {
        margin-left: 40%;
        height: 20%;
    }

    
}