.personalInfoContainer {
    display: flex;
}

.infoDetailsContainer {
    display: flex;
    justify-content: right;
    height: 10rem;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 2%;
}

.photoContainer {
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 10rem;
    width: 25%;
    margin: 2%;
}

.infoPieceContainer {
    padding: 2%;
}

.infoPieceContainer p{
    font-size: 16px;
}

.order {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1%;
    margin: 0 1% 2% 1%;
}

.failure {
    color: #D8000C;
    background-color: #FFD2D2;
}

.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}