.main {
    padding-top: 5%;
    text-align: center;
    position: fixed;
    top: 25%;
    left: 40%;
}

.main a {
    font-size: 20px;
    text-decoration: none;
    color: magenta;
}

.footerContainer {
    margin: 0;
    position: fixed;
    bottom: 0;
}